{% extends "record.html" %}
{% load static %}

{% block title %}
  Выбор Мастера
{% endblock %}

{% block record_content %}
	<form action={% url "date_page" %} method="post" class="service__form">
		{% csrf_token %}
		<div class="service__form_block service__masters">
			<button type="button" class="accordion">(Выберите мастера)</button>
			<div class="panel">
				{% for master in masters %}
					<label class="accordion__block fic">
						<input type="radio" name="master_id" value={{ master.id }}>
						<div class="accordion__block_intro">{{ master.name }}</div>
						<div class="accordion__block_address">{{ master.experience }}</div>
					</label>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-12">
      <button type="submit" class="time__btns_next">Далее</button>
    </div>				
	</form>
{% endblock record_content %}
