{% extends "base.html" %}
{% load static %}

{% block title %}
	Подтверждение записи
{% endblock title %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/jquery.arcticmodal-0.3.css' %}">
	<link rel="stylesheet" href="{% static 'css/simple.css' %}">
	<link rel="stylesheet" href="{% static 'css/air-datepicker.css' %}">
{% endblock css %}

{% block content %}
	<section id="serviceFinally">
		<div class="container">
			<div class="serviceFinally">
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<div class="breadCrumbs">
							<a href="{% url 'index_page' %}" class="breadCrumbs__item">На главную</a>
						</div>
						<div class="service__block">
							<h1 class="service__title">Запись на услугу</h1>
						</div>
						<form action={% url "create_note" %} method="post" class="serviceFinally__form">
    						{% csrf_token %}
							<div class="serviceFinally__form_block">
								<div class="serviceFinally__form_header fic">
									<div class="serviceFinally__form_header__item fic">
										<div class="serviceFinally__form_header__service">{{ salon.name }}</div>
										<div class="serviceFinally__form_header__address">{{ salon.address }}</div>
									</div>
								</div>
								<div class="serviceFinally__form_content">
									<div class="serviceFinally__form_content__block fic">
										<div class="serviceFinally__form_content__title">{{ procedure.name }}</div>
										<div class="serviceFinally__form_content__price">{{ procedure.price }} ₽</div>
									</div>
									<div class="serviceFinally__form_content__block fic">
										<div class="serviceFinally__form_content__items fic">
											{% if master.photo %}
												<img src="{{ master.photo.url }}" alt="avatar" class="masters__header_img">
											{% else %}
												<img src="#" alt="avatar" class="masters__header_img">
											{% endif %}
										  	<div class="accordion__block_master">{{ master.name }}</div>
									    </div>
									    <div class="serviceFinally__form_content__item fic">
											<div class="serviceFinally__form_content__time">{{ date }}</div>
										</div>
									</div>
									
								</div>
							</div>
							<div class="serviceFinally__form_itesm">
								<div class="contacts__form_block fic">
									<input type="text" name="name" class="contacts__form_iunput" placeholder="Введите имя" required="">
									<div class="contacts__form_inputBlock">
										<input type="text" name="phone" class="contacts__form_iunput" placeholder="+7(999)999--99-99" required="">
									</div>
								</div>
								<textarea name="question" class="contacts__form_textarea" placeholder="Вопрос(необязательно)"></textarea>
								<div class="contacts__form_checkboxBlock fic">
									<input type="checkbox" class="contacts__form_checkbox" checked="">
									<span class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой конфидециоальности</span>
								</div>
								<button type="submit" class="serviceFinallys__form_btn">Записаться</button>
								<button class="serviceFinallys__form_back">Назад</button>
							</div>
						</form>	
					</div>
					<div class="col-md-12 col-lg-5">
						<img src="{% static 'img/bannerImg.svg' %}" alt="bannerImg" class="banner__img">
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
