{% extends "base.html" %}
{% load static %}

{% block title %}Выбор услуги{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/air-datepicker.css' %}">
{% endblock %}

{% block content %}
<section id="select-services">
    <div class="container">
        <h1>Выберите услугу</h1>
        <h2>Парикмахерские услуги</h2>
        <div class="service-item">
            <div>Окрашивание волос</div>
            <div>5 000 ₽</div>
            <a href="#" class="btn">Выбрать</a>
        </div>
        <div class="service-item">
            <div>Укладка волос</div>
            <div>1 500 ₽</div>
            <a href="#" class="btn">Выбрать</a>
        </div>

        <h2>Ногтевой сервис</h2>
        <div class="service-item">
            <div>Маникюр. Классический</div>
            <div>1 400 ₽</div>
            <a href="#" class="btn">Выбрать</a>
        </div>
        <div class="service-item">
            <div>Педикюр</div>
            <div>1 400 ₽</div>
            <a href="#" class="btn">Выбрать</a>
        </div>
        <div class="service-item">
            <div>Наращивание ногтей</div>
            <div>1 400 ₽</div>
            <a href="#" class="btn">Выбрать</a>
        </div>

        <h2>Макияж</h2>
        <div class="service-item">
            <div>Дневной макияж</div>
            <div>1 400 ₽</div>
            <a href="#" class="btn">Выбрать</a>
        </div>
        <div class="service-item">
            <div>Свадебный макияж</div>
            <div>3 000 ₽</div>
            <a href="#" class="btn">Выбрать</a>
        </div>
        <div class="service-item">
            <div>Вечерний макияж</div>
            <div>2 000 ₽</div>
            <a href="#" class="btn">Выбрать</a>
        </div>

        <a href="#" class="btn">Вернуться к салонам</a>
    </div>
</section>
{% endblock %}