{% extends "base.html" %}
{% load static %}

{% block title %}Выбор мастера{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/air-datepicker.css' %}">
{% endblock %}

{% block content %}
<section id="select-master">
    <div class="container">
        <h1>Выберите мастера</h1>
        <div class="masters-list">
            {% for master in masters %}
                <div class="master-item">
                    {% if master.image %}
                        <img src="{{ master.image.url }}" alt="{{ master.first_name }} {{ master.last_name }}" width="150">
                    {% endif %}
                    <h3>{{ master.first_name }} {{ master.last_name }}</h3>
                    <p>Специализация: {{ master.get_speciality_display }}</p>
                    {% if master.salon %}
                        <p>Салон: {{ master.salon.name }}</p>
                    {% else %}
                        <p>Салон: не указан</p>
                    {% endif %}
                    <a href="{% url 'select_time' master.id %}" class="btn">Выбрать</a>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'select_services' %}" class="btn">Вернуться к услугам</a>
    </div>
</section>
{% endblock %}